# HTTP-service dependencies
uvicorn >= 0.33.0
uvloop  >= 0.22.1
httptools >= 0.6.4
fastapi >= 0.124.4

# Polars (for merging dataframes)
polars >= 1.8.2

# Zoneinfo (Backport for Python 3.8)
backports.zoneinfo; python_version < "3.9"

# Configuration
PyYAML >= 6.0.1

# Data handling
pandas >= 2.0.3
numpy >= 1.24.4

# Progress bars
tqdm >= 4.67.1

# File-based locking (Recommended for crash-safety)
filelock >= 3.16.1

# HTTP requests (If downloading raw data)
requests >= 2.22.0

# Performance (Optional but good for high-freq data)
orjson >= 3.10.15
duckdb >= 1.1.0

# Schema validation
jsonschema >= 3.2.0
fastjsonschema >= 2.21.2