BRENT.CMD-USD:          # 2025-12-14: OK
    timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "03:00"   # In MT4: first 4H candle of the day starts at this time
COPPER.CMD-USD:         # 2025-12-14: 
    timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "03:00"   # In MT4: first 4H candle of the day starts at this time    
DIESEL.CMD-USD:         # 2025-12-14: 
    timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "03:00"   # In MT4: first 4H candle of the day starts at this time
GAS.CMD-USD:            # 2025-12-14: OK
    timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "01:00"   # In MT4: first 4H candle of the day starts at this time
LIGHT.CMD-USD:          # 2025-12-14: OK
    timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "01:00"   # In MT4: first 4H candle of the day starts at this time
XAU-USD:                # 2025-12-14: OK
    timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "01:00"   # In MT4: first 4H candle of the day starts at this time