AUS.IDX-AUD:             # 2025-12-14: **NOT-OK**
  # This data is only correct from 2020-02-10 to now
  timezone: Australia/Sydney
  skip_timeframes: ["8h","1d","1W","1M","1Y"]  
  sessions:
    day-session:
      ranges: 
        day:
          from: "09:50"
          to: "16:30"
      timeframes:                    
        15m:                     
          rule: "15T"
          label: "left"
          closed: "left"
          source: "5m"
          origin: "00:50"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "00:50" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "00:50"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "00:50"
        1d:                     
          rule: "1D"
          label: "left"
          closed: "left"
          source: "4h"
          origin: "00:00"   
    after-hours:
      ranges: 
        day:
          from: "17:10"
          to: "23:59"
        night:
          from: "00:00"
          to: "07:00" 
      timeframes:                    
        15m:                     
          rule: "15T" 
          label: "left"
          closed: "left"
          source: "5m"
          origin: "08:10"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "08:10" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "08:10"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "08:10"
        1d:                     
          rule: "1D"
          label: "left"
          closed: "left"
          source: "4h"
          origin: "00:00"
    catch-old:
      ranges: 
        day:
          from: "07:00"
          to: "09:49"
      timeframes:                    
        15m:                     
          rule: "15T"
          label: "left"
          closed: "left"
          source: "5m"
          origin: "00:00"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "00:00" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "00:00"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "00:00"
        1d:                     
          rule: "1D"
          label: "left"
          closed: "left"
          source: "4h"
          origin: "00:00"   