AUS.IDX-AUD:             # 2025-12-14: **NOT-OK**
  # Oke. This is a anomaly in the "pond of financial fish". The problem here is that we have 4x a switch of the timezone per
  # year. In australia we switch winter<->summer time, but also the MT4 server switches between winter<->summer time. Both
  # do this on completely different dates. Ie in australia somewhere beginning oktober 2025 and mt4 server beginning november.
  # Ie 1h/4h etc candles midnight are either at 00:50, 01:50 or 02:50 in MT4.
  # 
  # I have found a solution to this problem and i am currently optimizing for performance, code cleanness and edge-cases.
  # Before 6 februari 2020 there was a completely different candle alignment in MT4. Candles at 00:00. 
  #
  # For later when solution done: the origins need to be defined as how the candles appear just after 1-1-YEAR (winter-time in europe).
  #
  # Performance impact is massive. 5 years parsing of AUS.IDX-AUD takes 105 seconds. In comparison US30.IDX-USD takes only 15 seconds
  # for the same amount of data. Reason for this is that we need to calculate to which session every line belongs. Furthermore,
  # we need to adjust for DST and Australia summer/winter time.
  timezone: Australia/Sydney
  skip_timeframes: ["8h","1d","1W","1M","1Y"]
  timeframes:
    1d:                     
      rule: "1D"
      label: "left"
      closed: "left"
      source: "4h"
      origin: "08:10"     
  sessions:
    catch-old:
      ranges: 
        day:
          from: "07:00"
          to: "09:49"
      timeframes:                    
        15m:                     
          rule: "15T"
          label: "left"
          closed: "left"
          source: "5m"
          origin: "00:00"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "00:00" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "00:00"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "00:00"
        1d:                     
          rule: "1D"
          label: "left"
          closed: "left"
          source: "4h"
          origin: "00:00"  
    day-session:
      ranges: 
        day:
          from: "09:50"
          to: "16:30"
      timeframes:                    
        15m:                     
          rule: "15T"
          label: "left"
          closed: "left"
          source: "5m"
          origin: "00:50"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "00:50" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "00:50"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "00:50"
        1d:                     
          rule: "1D"
          label: "left"
          closed: "left"
          source: "4h"
          origin: "00:00"   
    after-hours:
      ranges: 
        day:
          from: "17:10"
          to: "23:59"
        night:
          from: "00:00"
          to: "07:00" 
      timeframes:                    
        15m:                     
          rule: "15T" 
          label: "left"
          closed: "left"
          source: "5m"
          origin: "08:10"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "08:10" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "08:10"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "08:10"
        1d:                     
          rule: "1D"
          label: "left"
          closed: "left"
          source: "4h"
          origin: "00:00"  