AUS.IDX-AUD:             # 2025-12-14: **NOT-OK**
  # The Aussie index requires additional software work. The MT candles are aligned with session breaks, 
  # which must be accounted for. Support for session breaks was already a planned feature (as some forex 
  # instruments also have breaks). 
  #
  # First proposal for the session-aware implementation
  timezone: Australia/Sydney
  skip_timeframes: ["4h","8h","1d", "1W","1M","1Y"]
  timeframes:
    1h:                     
      rule: "1H"
      label: "left"
      closed: "left"
      source: "30m"
      origin: "epoch"     
  sessions:
    # Timezone to map ranges to
    # After mapping of times, the times will be normalized to MT4 server times
    # Then the normalized times from-to will be used to filter candles
    # The result of each filter is fed into resample with the defined origin for that timeframe
    day-session:
      ranges: 
        day:
          from: "09:50"
          to: "16:30"
      timeframes:                    
        15m:                     
          rule: "15T"
          label: "left"
          closed: "left"
          source: "5m"
          origin: "00:50"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "00:50" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "00:50"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "00:50"
        8h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "00:50"  
    after-hours:
      ranges: 
        day:
          from: "17:10"
          to: "23:59"
        night:
          from: "00:00"
          to: "07:00" 
      timeframes:                    
        15m:                     
          rule: "15T" 
          label: "left"
          closed: "left"
          source: "5m"
          origin: "08:10"
        30m:                     
          rule: "30T"
          label: "left"
          closed: "left"
          source: "15m"
          origin: "08:10" 
        1h:                     
          rule: "1H"
          label: "left"
          closed: "left"
          source: "30m"
          origin: "08:10"
        4h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "08:10"
        8h:                     
          rule: "4H"
          label: "left"
          closed: "left"
          source: "1h"
          origin: "08:10"  