# Swiss Market Index (SMI)
CHE.IDX-CHF:
  timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "09:00"
    8h:                     
      rule: "8H"
      label: "left"
      closed: "left"
      source: "4h"
      origin: "09:00"  