JPN.IDX-JPY:            # 2025-12-14: OK
  timeframes:
    4h:                     
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "01:00"   # In MT4: first 4H candle of the day starts at this time     