PLN.IDX-PLN:
  timeframes:
    5m:
      rule: "5T"
      label: "left"
      closed: "left"
      source: "1m"
      origin: "09:45"
    15m:
      rule: "15T"
      label: "left"
      closed: "left"
      source: "5m"
      origin: "09:45"
    30m:
      rule: "30T"
      label: "left"
      closed: "left"
      source: "15m"
      origin: "09:45"
    1h:
      rule: "1H"
      label: "left"
      closed: "left"
      source: "30m"
      origin: "09:45"
    4h:
      rule: "4H"
      label: "left"
      closed: "left"
      source: "1h"
      origin: "09:45"
