name: "Daily Traffic Logger"

on:
  schedule:
    - cron: '0 0 * * *' # Runs at midnight UTC
  workflow_dispatch:   # Allows manual trigger

permissions:
  contents: write

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TRAFFIC_ACTION_TOKEN }}

      - name: Fetch Traffic Data
        uses: sangonzal/repository-traffic-action@v.0.1.6
        env:
          TRAFFIC_ACTION_TOKEN: ${{ secrets.TRAFFIC_ACTION_TOKEN }}

      - name: Move Stats to .github Folder
        run: |
          mkdir -p .github/traffic
          # Use sudo to ensure we have permission to move the action-generated files
          sudo mv -f traffic/* .github/traffic/
          # Clean up the old directory
          sudo rm -rf traffic

      - name: Commit and Push Stats
        uses: Endbug/add-and-commit@v9
        with:
          author_name: "GitHub Action"
          author_email: "action@github.com"
          message: "Update daily"
          add: ".github/traffic/*"